<umb-panel ng-controller="lstApplicantController">
    <umb-header>
        <h1>Inquiries/Request</h1>
    </umb-header>

    <div class="umb-panel-body">
        <div class="umb-pane">

            <div class="umb-sub-header">

                <div class="btn-group" ng-show="isAnythingSelected()">
                    <a class="btn btn-danger" ng-disabled="actionInProgress" ng-click="delete()" prevent-default="">
                        <localize key="actions_delete">Delete</localize>
                    </a>
                </div>

                <form class="form-search pull-right ng-pristine ng-valid" novalidate="">
                    <div class="inner-addon left-addon">
                        <i class="icon icon-search"></i>
                        <input type="text" class="form-control ng-pristine ng-valid" localize="placeholder" placeholder="Type to search..." ng-model="searchFilter" prevent-enter-submit="" no-dirty-check="" ng-change="search(searchFilter)">
                    </div>
                </form>

            </div>

            <div class="umb-listview">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td></td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('CreationDate')">Date</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'CreationDate'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('VacancyName')">Job Vacancy</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'VacancyName'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('FullName')">Full Name</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'FullName'"></i>
                            </td>
                            <td>
                                <span>Mobile No</span>
                            </td>
                            <td>
                                <span>Email</span>
                            </td>
                            <td>
                                <span>Address</span>
                            </td>
                            <td>
                                <span>Attached C.V.</span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in people" ng-class="{selected: isRowSelected(p.id)}">
                            <td style="width: 5%">
                                <i class="icon icon-edit"></i>
                                <input type="checkbox" name="selectedItems[]" value="{{p.id}}" ng-checked="isRowSelected(p.id)" ng-click="toggleSelection(p.id)" />
                            </td>
                            <td style="width:10%">
                                {{p.CreationDate | date :  "dd-MM-yyyy"}}
                            </td>
                            <td style="width:10%">
                                {{p.VacancyName}}
                            </td>
                            <td style="width:20%">{{p.FullName}}</td>
                            <td style="width:10%">{{p.MobileNo}}</td>
                            <td style="width:10%">{{p.Email}}</td>
                            <td style="width:25%">{{p.Address}}</td>
                            <td style="width:10%;">
                                <a ng-href="{{filesUrl + p.CVFileName}}" target="_blank">Open</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-show="totalPages > 1">
                        <tr>
                            <th colspan="5">
                                <div class="pagination pagination-right">
                                    <ul>
                                        <li ng-class="{disabled: currentPage == 1}">
                                            <a href ng-click="prevPage()">Prev</a>
                                        </li>
                                        <li ng-repeat="i in getNumber(totalPages) track by $index" ng-click="setPage($index+1)"><span>{{$index+1}}</span></li>
                                        <li ng-class="{disabled: currentPage == totalPages}">
                                            <a href ng-click="nextPage()">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</umb-panel>