.megamenu-img {
    max-height: 158px;
}

.pull-md-right {
    padding-right: 15px;
}

.ellipsis {
    height: 50px;
}

.margin-right5 {
    margin-right: 5px;
}

#counter-section {
    padding: 50px 0 50px;
    padding-bottom: 50px !important;
}

.owl-prev, .owl-next {
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    background: #fff;
    font-size: 20px;
    height: 42px;
    line-height: 38px;
    text-align: center;
    width: 45px;
    margin-top: 20px;
    bottom: 0;
    display: inline-block;
    margin-left: 5px;
}

.color_green {
    color: #669941;
}

/*.img-details {
    max-height: 451px;
}*/

.img-details-thumb {
    max-height: 111px;
}

.btn_send {
    cursor:pointer;
}

.query-submit-button {
    text-align: center;
}

.keyword-input {
    border: 1px solid rgba(229, 229, 229, 1)
}

textarea.keyword-input {
    height: 160px !important;
}

.rotate-zero .pull-left {
    transform: rotate(0deg) !important;
    height: 150px !important;
    width: 150px !important;
}

.rotate-zero .pull-left > i {
    transform: rotate(0deg) !important;
    font-size:30px !important;
}

.fa40 {
    font-size: 40px !important;
}

#navbar-menu ul.nav > li > a {
    text-transform: none !important;
    font-size: 17px !important;
}

.featured-units-img {
    width: 82px;
    height: 79px;
}

.news-2-tag {
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;    
    height: 50px;
    margin-left: 15px;
    padding: 10px 0;
    margin-top: 0px !important;
}

.margin_t40 {
    margin-top: 40px;
}

.page-main-section {
    z-index: -10 !important;
    margin-bottom: 60px !important;
}

.align-left {
    text-align: left;
}

.error {
    color: #d2272d;
    border: 1px solid #d2272d  !important;
}

.search-form-group {
    margin-bottom: 10px !important;
    padding-left: 0px !important;
}

nav.navbar.bootsnav.no-background {
    background-color: rgba(0, 0, 0, 0.3);
}

nav.navbar.bootsnav.navbar-fixed .logo-display {
    background-color: rgba(0, 0, 0, 0.3);
}

div.tp-caption {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

#main_header {
    background-color: rgba(0, 0, 0,1) !important;
}

.navbar-right {
    float:none !important;
}

.social-icons {
    padding-top: 25px !important;
}

nav.navbar.bootsnav.sticked .social-icons {
    display: block !important;
    padding-top: 15px !important;
}

.padding_t100 {
    padding-top:80px;
}

.margin-left10 {
    margin-left:10px;
}

/*.grid-item, .grid-sizer {
    max-height: 240px;
}

.grid-item--width2 {
    width: 400px;
}

.grid-item--width3 {
    width: 600px;
}*/

/*-- pulse button --*/
.timeline-caption {
    margin: 30px 5px 5px 5px;
    font-size: 150%;
    font-weight: normal;
    text-transform: none;
}

.timeline-text {
    padding: 5px !important;
}

.pulse-button {
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 70px !important;
    height: 70px !important;
    z-index:10000;
    line-height:80px !important;
    /*border: none;*/
    /*box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);*/
    box-shadow: 0 0 0 0 rgba(102, 153, 65, 0.7);
    border-radius: 50% !important;
    background-color: #669941;
    /*
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/jonathanlarradet_copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    */ cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);
}

    .pulse-button:hover {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none;
    }

    .pulse-button > i.fa {
        font-size: 40px !important;
    }

a.back-to {
    bottom: 100px !important;
    right: 35px !important;
}

    @-webkit-keyframes pulse {
        to {
            box-shadow: 0 0 0 45px rgba(102, 153, 65, 0);
        }
    }

    @-moz-keyframes pulse {
        to {
            box-shadow: 0 0 0 45px rgba(102, 153, 65, 0);
        }
    }

    @-ms-keyframes pulse {
        to {
            box-shadow: 0 0 0 45px rgba(102, 153, 65, 0);
        }
    }

    @keyframes pulse {
        to {
            box-shadow: 0 0 0 45px rgba(102, 153, 65, 0);
        }
    }
    /*-- Modal --*/
    /*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
    .modal {
        top: 15% !important;
    }
    .modal.left .modal-dialog, .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    /*height: 100%;*/
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 0px 0px 0px !important;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #669941;
}

/* ----- v CAN BE DELETED v ----- */
/*
body {
    background-color: #78909C;
}

.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #FFFFFF;
}

    .btn-demo:focus {
        outline: 0;
    }

.demo-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #212121;
    text-align: center;
}

    .demo-footer > a {
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
    }*/


.rev-txt-layer > p{
    line-height:normal !important;
    font-size:15px !important;
}

.image-label > img {
    max-width: 200px !important;
}

@media only screen and (max-device-width: 480px) {
    .videolizerWrapper {
        margin-bottom: 10px;
    }

    .image-label > img {
        max-width: 100px !important;
    }
}

.img-info {
    width: 100%;
}


