<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT baseType ANY>
<!ATTLIST baseType id ID #REQUIRED>
<!ELEMENT partialType ANY>
<!ATTLIST partialType id ID #REQUIRED>
<!ELEMENT homeSliderItem ANY>
<!ATTLIST homeSliderItem id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT project ANY>
<!ATTLIST project id ID #REQUIRED>
]>
<root id="-1">
  <home id="1068" key="80741493-ca16-498e-83f7-04f7fc206e94" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-02-08T03:26:52" updateDate="2019-02-12T17:12:38" nodeName="Home" urlName="home" path="-1,1068" isDoc="" nodeType="1066" creatorName="superadmin" writerName="superadmin" writerID="0" template="1052" nodeTypeAlias="home" isPublished="false" isDraft="">
    <umbraconavihide>0</umbraconavihide>
    <home_SiteName><![CDATA[Next Home]]></home_SiteName>
    <home_LoadingGIF><![CDATA[umb://media/16c1a5cc1c51401d9f89c5f862496fe4]]></home_LoadingGIF>
    <home_AboutNextHome><![CDATA[<p>About Next Home...</p>]]></home_AboutNextHome>
    <home_Logo><![CDATA[umb://media/8159cde7d82c4efabe16c64b51a6a500]]></home_Logo>
    <home_Slider><![CDATA[[{"key":"80849e1b-4f80-4765-b907-b2e30f6d7101","name":"Item 1","ncContentTypeAlias":"homeSliderItem","slideritem_Image":"umb://media/c1ffc55fece445a0980fbe5d0fff0ff3","slideritem_Title":"Mountain Plaza","slideritem_Description":"<p>First integrated settlement in Mokattam</p>\n<p>Installments up to 10 years</p>\n<p>High return on investment</p>\n<p>Swimming pools, kids area, fitness clubs.</p>","slideritem_Link":"","slideritem_RequestButton":"0"},{"key":"0f0117ae-b90d-4d5d-9750-1dbf4767cb41","name":"Item 2","ncContentTypeAlias":"homeSliderItem","slideritem_Image":"umb://media/773606d181864d4b8b8e7bbe71540468","slideritem_Title":"Next Point","slideritem_Description":"<p>First integrated settlement in Mokattam</p>\n<p>Installments up to 10 years</p>\n<p>Swimming pools, kids area, fitness clubs</p>","slideritem_Link":"","slideritem_RequestButton":"0"}]]]></home_Slider>
  </home>
  <home id="1069" key="0cec9739-c8a5-4431-a631-48e85c9bca5e" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-02-08T03:27:51" updateDate="2019-02-09T02:20:32" nodeName="الرئيسية" urlName="الرئيسية" path="-1,1069" isDoc="" nodeType="1066" creatorName="superadmin" writerName="superadmin" writerID="0" template="1052" nodeTypeAlias="home" isPublished="true">
    <umbraconavihide>0</umbraconavihide>
    <home_SiteName><![CDATA[نكست هوم]]></home_SiteName>
    <home_LoadingGIF><![CDATA[umb://media/16c1a5cc1c51401d9f89c5f862496fe4]]></home_LoadingGIF>
    <home_AboutNextHome><![CDATA[<p>عن نيكست هوم ...</p>]]></home_AboutNextHome>
    <home_Logo><![CDATA[umb://media/d89436606b0a4082a63274df5d083311]]></home_Logo>
  </home>
</root>