<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="0">
  <trigger triggerOnPublish="false" />
  <xmlSiteMap enabled="false" excludeUmbracoNaviHide="true" />
  <robotsTxt enabled="false" />
  <urlRewrite forcewwwUrls="Ignore" useTrailingSlashProperty="false" />
  <redirectConfig storeDomain="false" storeQueryString="false" forwardQuerystring="true" redirectWhenNodeExists="false" urlHistoryTracking="true" />
  <documentTypeConfiguration>
    <documentType>
      <documentTypeAlias>home</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>@nodeName</documentTitleProperty>
        <documentTitleProperty>meta_ogTitle</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty>meta_ogDescription</documentDescriptionProperty>
      </documentDescriptionProperties>
      <defaultSocialImageProperties>
        <defaultSocialImageProperty></defaultSocialImageProperty>
      </defaultSocialImageProperties>
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate />
      <twittercardTitleTemplate />
      <documentTitleTemplate />
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
  </documentTypeConfiguration>
  <permissions>
    <role name="writer" allowed="issues,notifications" />
    <role name="editor" allowed="redirectmanagement,validation,ignorelist,notifications" />
  </permissions>
  <emailConfiguration />
  <rootNodeSettings />
  <validationConfig validateAltAttributesOnTemplate="true" metaDescriptionMaxLength="160" />
  <socialConfig>
    <enableFacebook>false</enableFacebook>
    <faceBookAppId></faceBookAppId>
    <enableTwitter>false</enableTwitter>
    <twitterAccount></twitterAccount>
  </socialConfig>
</SEOChecker>